@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

.nav_bar_container {
    padding: 2% 5%;
}


.nav_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 7vh;
    padding: 1% 2%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.121);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 20px;
}

.nav_bar .logo {
    font-size: 1.5rem;
    font-weight: 600;
}

.nav_bar .logo a {
    color: black;
}


.nav_links ul {
    display: flex;
}

.nav_links ul li a {
    display: flex;
    padding: 0 20px;
    color: black;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.logoutLink {
    cursor: pointer;
}

.user_profile {
    cursor: pointer;
}

/* Footer */
.footer {
    padding: 2% 5%;
    text-align: center;
}

.footer_title {
    border-bottom: 1px solid black;
}

.title {
    font-size: 25px;
    font-weight: 500;
}

/*====page_content====*/
.page_content{
    padding: 0 5%;
}