<?php
return [
    'baseUrl'=>'todoapp',
    'baseDir'=>__DIR__.'/../',
    'dbConfig'=>[
        'driver'   => 'Pdo_Mysql',
        'database' => '',
        'username' => 'root',
        'password' => '',
        'hostname' => '',
        'charset'=>'utf8mb4',
    ]
];