<?php
return [
    'baseUrl'=>'/todo_app/',
    'baseDir'=>__DIR__.'/../',
    'dbConfig'=>[
        'driver'   => 'Pdo_Mysql',
        'database' => 'todo',
        'username' => 'root',
        'password' => 'root',
        'hostname' => 'localhost',
        'charset'=>'utf8mb4',
    ]
];